/*Small Screens*/
@media (max-width: 960px){
    header{
        background: var(--dark);
    }

    h1{
        margin: auto auto;
        text-align: center;
        font-size: 1rem;
    }

    img{
        width: 10rem;
        padding: 0.5rem;
    }
}

/*Big Screen*/
@media (min-width: 961px){
        header{
            background: var(--dark);
        }
    
        h1{
            margin: auto auto;
            text-align: center;
            font-size: 1rem;
        }
    
        img{
            width: 10rem;
            padding: 0.5rem;
        }
    }